body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    width: 100%;
    height: 100%;
    background:#ff0000;
    overflow-x: hidden;
}

header {
    width: 100%;
    background: rgb(56, 54, 54);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    position: sticky;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}
.logo{
    height: 50px;
    width: 110px;
    margin-left:8px;
}
.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}


.home {
    position: relative;
    width: 100%;
    height: 60vh; 
    overflow: hidden;
}
.home-pic {
    position: relative;
    text-align: left;
    height: 100%;
    width: 100%;
    color:#fff;
}

.home-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

.home-pic h2 {
    position: absolute;
    top: 70%;
    left: 10px;
    transform: translateY(-50%);
    padding: 2px;
    border-radius: 5px;
}
.home-pic button {
    position: absolute;
    top: 85%;
    left: 6%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

button a{
    text-decoration: none;
    color:#fff;
}
.home-pic button:hover {
    background-color: #be3e3e;
}


.headers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: rgb(151, 7, 7);
    font-size: 50px;
}

.header {
    margin-left: 10px;
    text-align:start;
    opacity: 0;
    position:absolute;
    animation: fadeMoveUp 9s infinite;
    width: 100%;
    font-size: 3vw;
}

h1{
    text-align: center;
    padding: 10px;
}


.card {
    margin-bottom: 1rem; /* Space after each card on smaller screens */
    
}


  .aboutUs{
    text-align: center;
  }
  .vals{
    font-family: cursive;
    font-size:30px;
    margin-top: 20px;
    color: white;
    text-decoration:underline;
  }
.valuesvision{
    color:white;
     background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);;
    padding: 20px;
    margin: 10px;
    border-bottom-left-radius: 250px;

}
  .form-container {
    background: #fff;
    padding: 30px;
    border-radius: 4px 10px 10px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 90px auto;
}
.form-group input,
.form-group textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
.form-group input:focus,
.form-group textarea:focus {
    border-bottom-color: #0056b3;
}
.form-group label {
    font-weight: bold;
}
.btn-sends {
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
}
.btn-sends:hover {
    background-color: #0056b3;
}

.team-stuff{
    margin: 30px;
    padding: 30px;
}
.options{
    color:rgb(16, 17, 17);
}
footer {
    background-color: rgb(199, 197, 197);
    padding: 20px;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: flex-end;
}

.footer-content h6 {
    margin: 0;
    color: white;
}

.icon-container {
    display: flex;
    justify-content:flex-start;
    margin-top: 20px;
}

.icon-container i {
    font-size: 24px;
    margin: 0 15px;
    color: #d83939;
}
.icon-container i:hover {
    color: rgb(0, 195, 255);
}




/* Container to hold the slideshow */
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

/* Slideshow elements */
.mySlides {
    display: none;
}

/* Image styling for the zoom effect */
.mySlides img {
    width: 100%;
    height: auto;
    transition: transform 1s ease; /* Smooth zoom over 5 seconds */
}

/* Zoom-in effect */
.zoom img {
    transform: scale(0.9); /* Slightly zoom in the image */
}

/* Keyframes for fade-in effect */
@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}



.video-responsive{
    max-width: 640px;
    max-height: 360px;
}
.whyContent{
    
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
}
.whyContent .col-12 {
    flex: 1;
    padding: 10px;
  }
.why{
    background-color: white;
    text-align: left;
    color: rgb(87, 84, 84);
    padding: 20px;
}

/* Initially, keep the content off-screen (to the right) */

  
.impact{
    background: linear-gradient(117.5deg, rgb(89, 233, 162) 20.5%, rgb(29, 209, 185) 100.2%);
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 10px;
    border-top-right-radius: 250px;
    
}
.hover-image {
    /* Set a width for the image */
    transition: transform 0.3s ease; /* Smooth transition for the movement */
}

.hover-image:hover {
    transform: translate(10px, -25px); /* Moves the image 10px to the right and 10px up */
}



#about{
    background-color: rgb(238, 234, 234);
    padding: 20px;
}
#services{
    background-color: 
}
#contact{
    background-color:rgb(238, 234, 234);
}



@media screen and (max-width: 768px) {
 

    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: #0c0b0b;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
   
    .nav-links li {
        margin: 1rem 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0);
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px)
    }
 
    .header {
        font-size: 6vw; 
    }

    .home{
        height: 70vh;
        
    }

    .home-pic img {
        object-fit: cover;
        object-position: center;
    }

    .home-pic {
        display: flex;
        margin: 0;
        justify-content: center;  
        align-items: center;      
        height: 100vh;            
        position: relative;
        text-align: center;    
          
    }
    .home-pic h2 {
        font-size: 30px;
        text-align:start;
        top:250px;
        max-width: 250px;
        color:#fff;
    }
    
    .home-pic button {
        left:75px;
        top: 57%;
        padding: 10px 20px;
        font-size: 15px;
        background-color: #ff0000;
    }

    .form-container {

        padding: 10px;
        margin:20px auto;
        margin-top: 30px;
    }
   
    
    .icon-container i {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .video-responsive{
        object-fit: cover;
        object-position: center
    }
    .whyContent {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .whyContent .col-12 {
        width: 100%;
        padding: 10px;
      }
    
    
  
      .content-to-animate {
        opacity: 0;
        transform: translateX(100%);
        transition: transform 1s ease-out, opacity 1s ease-out;
      }
      
      /* Once in view, slide in and stay */
      .content-visible {
        opacity: 1;
        transform: translateX(0);
      }

      .empd{
        margin: 30px;
      }
      

}


